﻿@model Payroll.Mvc.Models.CalculatorVm

@{
    ViewData["Title"] = "Tax Calculator";
}

<h2>Tax Calculator</h2>

<hr />

<center>
    @Html.ValidationMessage("Errors")
</center>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <select asp-for="PostalCode" asp-items="@ViewBag.PostalCodes"></select>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="number" min="0.00" step="0.01" lang="en" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}